* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.header-block {
  background: #222222;
  height: 75px;
}

.header .container {
  height: 100%;
}

.flex-row,
.flex-btw {
  display: flex;
}

.flex-btw {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  padding-right: 40px;
}

.search {
  margin-top: 11px;
}

.search img {
  width: 26px;
}

.header-right {
  padding-right: 14px;
  padding-top: 10px;
}

.menu {
  padding-right: 33px;
  padding-top: 3px;
  cursor: pointer;
  transition: transform 0.5s;
}

.menu.onclick-menu {
  transform: rotate(90deg) translateX(22%) translateY(65%);
}

.user {
  padding-right: 33px;
}

.basket {
  position: relative;
  cursor: pointer;
}

.basket-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  top: -7px;
  right: -9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.banner-area {
  background: #F1E4E6;
  height: 764px;
}

.banner-area_container {
  display: flex;
  align-items: center;
  height: 100%;
}

.banner-area_img {
  width: 55%;
}

.banner-area_text {
  font-size: 48px;
  font-weight: 900;
  border-left: 12px solid #F16D7F;
  padding-left: 28px;
  margin-left: 4px;
  transform: translateY(-50%);
  line-height: 0.8;
  padding: 14px 0 3px 15px;
}

.banner-area_text__title {
  font-size: 48px;
}

.banner-area_text .banner-area_text__description {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

.color {
  color: #F16D7F;
}

.main-menu {
  margin-bottom: 96px;
}

.main-menu-row-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
}

.main-menu_item {
  display: flex;
  position: relative;
  width: 31%;
  overflow: hidden;
}
.main-menu_item:hover img {
  transform: scale(1.1);
}

.main-menu_item img {
  min-width: 100%;
  transition: transform 0.5s;
}

.main-menu_item_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 24px;
  font-weight: 700;
}

.main-menu_item_text .small {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.main-menu-row-all .main-menu_item {
  width: 100%;
}

.main-menu-row-all {
  margin-top: 30px;
}

.advantage-block {
  background-color: #222224;
  padding: 103px 0;
}

.advantage-block-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantag-item {
  text-align: center;
  color: #FBFBFB;
  padding: 0 30px;
  width: 33%;
}

.advantag-item_img {
  height: 40px;
}

.advantage-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 25px 0 16px;
}

.advantage-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.botton-block {
  background-image: url(img/footer-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 448px;
}

.botton-block-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-block {
  width: 360px;
  text-align: center;
  margin-top: -55px;
}

.left-block-img {
  margin-bottom: 30px;
}

.left-block-description {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.botton-block_form-group {
  display: flex;
}

.botton-block_form-group .inpt {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 20px;
  background: #E1E1E1;
  border: 1px solid transparent;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.botton-block_form-group .submit {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 18px;
  color: #fff;
  background: #F16D7F;
  border: 1px solid transparent;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  cursor: pointer;
}
.botton-block_form-group .submit:hover {
  background: #fff;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.footer-form {
  text-align: center;
  margin-right: 95px;
}

.footer-form-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.footer-form-subtitle {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 40px;
}

.icon-list {
  list-style-type: none;
  display: flex;
}

.copyright {
  background: #222224;
  padding: 24px 0;
}

.copyright-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.icon-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 32px;
  height: 32px;
  background: #fff;
  margin: 0 3px;
  text-decoration: none;
  font-size: 14px;
}
.icon-list a:hover {
  background: #F16D7F;
  color: #fff;
}

.copyright-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  position: absolute;
  background: #fff;
  padding: 37px 34px;
  z-index: 1;
  right: -232px;
  top: 75px;
  width: 232px;
  height: 764px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
}

.header-menu.active-menu {
  display: block;
  max-height: calc(100vh - 75px);
  overflow-y: auto;
}

.header-menu h4 {
  text-transform: uppercase;
  margin-bottom: 18px;
}

.header-menu-list {
  list-style-type: none;
}

.header-menu-item-title {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  padding: 6px 0;
}

.header-sub-menu {
  list-style-type: none;
  padding-bottom: 14px;
}

.close-buttom {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.close-buttom:before,
.close-buttom:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 15px;
  width: 2px;
  background-color: #575757;
  cursor: pointer;
}

.header-menu-close:before,
.header-menu-close:after {
  background-color: #000;
}

.close-buttom:before {
  transform: rotate(45deg);
}

.close-buttom:after {
  transform: rotate(-45deg);
}

.header-sub-menu-item a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  padding: 6px 0 6px 21px;
}
.header-sub-menu-item a:hover {
  color: #F16D7F;
}

.product-list-heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-top: 100px;
  text-align: center;
}

.product-list-description {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.item-sec {
  margin-bottom: 200px;
}

.product-list__catalog {
  margin-bottom: 100px;
}

.product-list-item-link {
  display: block;
  text-decoration: none;
  width: 100%;
}

.product-list-txt-box {
  padding: 25px 18px 20px;
  background: #F8F8F8;
}

.product-list-item-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 13px;
}

.product-list-item-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.product-list-item-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product-list-item {
  position: relative;
}

.product-list-item-pic {
  display: block;
  width: 100%;
}

.product-list-item:hover .product-list-item-pic {
  filter: brightness(30%);
}

.product-list-add {
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid #fff;
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;
}

.product-list-add img {
  width: 25px;
}

.product-list-add:hover {
  box-shadow: 0 0 10px #fff;
}

.product-list-add-box {
  display: none;
  position: absolute;
  top: 25%;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.product-list-add-desc {
  color: #fff;
  margin-left: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.product-list-item:hover .product-list-add-box {
  display: flex;
}

.product-list-item-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 95px;
}

.breadcrumbs-block {
  background: #F8F3F4;
  padding: 60px 0;
}

.title-product {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}

.breadcrumbs-list {
  list-style-type: none;
  display: flex;
}

.breadcrumbs-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}
.breadcrumbs-link:hover {
  color: #F16D7F;
}

.breadcrumbs-link:after {
  content: "/";
  margin: 0 3px;
  display: inline-block;
}

.breadcrumbs-list li:nth-last-of-type(1) .breadcrumbs-link:after {
  display: none;
}

.breadcrumbs-list li:nth-last-of-type(1) .breadcrumbs-link {
  font-weight: 700;
  color: #F16D7F;
}

.slider-element {
  position: relative;
}

.slider-element .arrow {
  width: 47px;
  height: 47px;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
  background: none;
  position: absolute;
  top: 43%;
  background: rgba(42, 42, 42, 0.15);
  z-index: 3;
  box-shadow: none;
  border: none;
  font-size: 24px;
}

.slider-element .arrow .arrow-icon {
  margin-top: 5px;
}

.slider-element .arrow:hover {
  color: #F16D7F;
}

.slider-element .arrow.arrow-left {
  left: 0;
  right: auto;
}

.slider-element .arrow.arrow-right {
  right: 0;
  left: auto;
}

@media (max-width: 1605px) {
  .header-menu {
    right: 0;
  }
}
.description-element {
  margin-bottom: 80px;
  transform: translateY(-40px);
}

.description-element-area {
  border: 1px solid #EAEAEA;
  padding: 65px 0;
  position: relative;
  background: #fff;
}

.description-container {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.title-collection {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.title-collection:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 63px;
  height: 3px;
  background: #EF5B70;
  left: 50%;
  transform: translateX(-50%);
}

.title-element {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
  margin-bottom: 48px;
}

.description-element-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.description-elemen-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
  padding-bottom: 65px;
  border-bottom: 1px solid #EAEAEA;
}

.block-select {
  display: flex;
  justify-content: space-between;
  margin: 65px auto 50px;
  width: 400px;
}

details {
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}

summary:after {
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 9px;
}

details[open] > summary:after {
  content: "\f077";
}

details.filter-details[open] > summary {
  color: #EF5B70;
}

details.filter-details > summary::after,
details.filter-details[open] > summary::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 10px;
  background-image: url(img/filter.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

details.filter-details[open] > summary::after {
  background-image: url(img/filter-color.svg);
}

.filter-catalog {
  position: relative;
  width: 360px;
}

details.filter-details {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  z-index: 1;
  background: #fff;
}

details.filter-details[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-details ul {
  list-style-type: none;
}

.filter-details .filter-category {
  margin-top: 16px;
}

details.filter-details .filter-category > li {
  margin-bottom: 18px;
}

details.filter-details .filter-category > li:nth-last-of-type(1) {
  margin-bottom: 0;
}

details.filter-category > summary::after {
  content: "";
}

details.filter-category > summary {
  width: 100%;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
}
details.filter-category > summary:hover {
  color: #EF5B70;
}

details.filter-category[open] > summary {
  color: #EF5B70;
}

.filter-category ul {
  padding: 20px 6px 0;
}

.filter-category a {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  padding: 5px 6px;
}
.filter-category a:hover {
  color: #EF5B70;
}

.details-list {
  position: absolute;
  list-style-type: none;
  margin-top: 5px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  padding: 10px;
  z-index: 1;
}
.details-list__range {
  width: 200px;
}

.details-list li {
  margin-bottom: 10px;
}

.details-list label {
  display: inline-block;
  width: 100%;
}

.checkbox label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  color: #6F6E6E;
}

.checkbox label:before {
  content: "";
  display: inline-block;
  padding: 0;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #EBEBEB;
}

.checkbox input[type=checkbox]:checked + label::after,
.checkbox input[type=radio]:checked + label::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 3px;
  top: 50%;
  background: #EF5B70;
  transform: translate(0, -50%);
}

.checkbox input[type=radio]:checked + label::after,
.checkbox input[type=radio] + label::before {
  border-radius: 50%;
}

.checkbox input[type=radio]:checked + label::after {
  left: 2px;
}

.checkbox input[type=checkbox],
.checkbox input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.details-list li:hover {
  color: #EF5B70;
}

.product-list-add__pink {
  border: 1px solid #F26376;
  background: transparent;
  padding: 14px 23px;
  margin: 0 auto;
  cursor: pointer;
}
.product-list-add__pink:hover {
  background: #F26376;
  color: #fff;
}
.product-list-add__pink:hover img {
  filter: grayscale(1) brightness(1000%);
}
.product-list-add__pink:hover .product-list-add-desc {
  color: #fff;
}

.product-list-add__pink .product-list-add-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.filter-area-row {
  display: flex;
  margin-top: 35px;
}

.filter-area-row .block-select {
  margin: 0 30px;
  padding: 15px 0;
}

.product-catalog-list {
  margin-top: 50px;
  margin-bottom: 96px;
}

.pagination-area {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 24px 0 0;
}

.pagination-area__list {
  display: flex;
  justify-content: space-between;
  width: 285px;
  padding: 12px;
  border: 1px solid #EBEBEB;
  list-style-type: none;
  color: #EBEBEB;
  border-radius: 3px;
}
.pagination-area__list li {
  flex-grow: 1;
}
.pagination-area__list a {
  text-decoration: none;
  color: #EBEBEB;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.pagination-area__list a:hover {
  color: #EF5B70;
}
.pagination-area__list .pagination-arrow {
  display: inline-block;
  padding-top: 2px;
}
.pagination-area__list .pagination-active {
  color: #EF5B70;
}

.check-offer {
  margin-top: 21px;
}

.check-offer li {
  list-style-type: none;
  margin-bottom: 12px;
}

.check-offer li:before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding-right: 23px;
}

.content-area__flex {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 96px;
}

.registration-form {
  width: 32%;
}
.registration-form p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 40px;
}

.inpt-form {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #A4A4A4;
  margin-bottom: 21px;
}

.btn-pink {
  background: #F16D7F;
  padding: 16px 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  box-shadow: none;
  border: 1px solid #F16D7F;
  cursor: pointer;
}
.btn-pink:hover {
  border: 1px solid #A4A4A4;
  color: #A4A4A4;
  background: #fff;
}

.btn__width {
  width: 100%;
}

.btn__border {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  color: #A4A4A4;
  background: #fff;
  cursor: pointer;
}
.btn__border:hover {
  border: 1px solid #F16D7F;
  background: #F16D7F;
  color: #FFFFFF;
}

.all-catalog {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 38px;
  text-decoration: none;
}

.btn__border__small {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  padding: 10px 15px;
}

.registration-form__submit {
  width: 167px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-title {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.content-area__description {
  width: 57%;
}

.radio-list {
  display: flex;
  margin-bottom: 33px;
  margin-top: 31px;
}

.radio-list__item:nth-of-type(1) {
  margin-right: 25px;
}

.radio-list__item {
  display: flex;
}

.radio-list__item label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-left: 10px;
}

.area-cart {
  margin-top: 96px;
  margin-bottom: 128px;
}

.area-cart__row {
  display: flex;
  justify-content: space-between;
}

.content-area__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding: 22px 30px;
}

.content-area__description__title {
  margin-bottom: 22px;
  font-weight: 300;
}

.cart-list {
  width: 57%;
}

.cart-list__item__description {
  padding: 22px 30px;
}
.cart-list__item__description h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
  width: 75%;
}
.cart-list__item__description .close-buttom {
  width: 25px;
  height: 25px;
  right: 20px;
  top: 24px;
}
.cart-list__item__description .close-buttom:before,
.cart-list__item__description .close-buttom:after {
  height: 23px;
  width: 3px;
}

.cart-list__item {
  display: flex;
  justify-content: stretch;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background: #fff;
  margin-bottom: 40px;
}

.cart-list__item__character {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}
.cart-list__item__character span {
  color: #F16D7F;
}
.cart-list__item__character .inpt {
  margin-left: 25px;
  width: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
}

.cart__btn-row {
  display: flex;
  justify-content: space-between;
}

.cart-form {
  width: 32%;
}

.total-block {
  background: #F5F3F3;
  padding: 40px 44px;
  margin-top: 55px;
}

.sub-tottal {
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 12px;
}
.sub-tottal span {
  display: inline-block;
  margin-left: 24px;
}

.grand-tottal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  padding-bottom: 21px;
  margin-bottom: 17px;
  border-bottom: 1px solid #E2E2E2;
}
.grand-tottal span {
  display: inline-block;
  margin-left: 24px;
  font-weight: 700;
  color: #F16D7F;
}

.cart-area {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 65px;
  background: #F8F8F8;
  padding: 10px;
  border: 1px solid #ebebeb;
  font-size: 16px;
  display: none;
  width: 600px;
}

.cart-area.cart-area__active {
  display: block;
}

.btn__order {
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-top: 10px;
  padding: 10px 15px;
}

@media (max-width: 340px) {
  .cart-area {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .cart-area {
    width: 100%;
  }
}
.cart-area-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .basketHeader {
    display: none;
  }
  .cart-area-row div:first-of-type {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .cart-area-row {
    grid-template-columns: repeat(3, 1fr);
  }
}
.cart-area-total {
  font-weight: 400;
  text-align: right;
}

@media (max-width: 1140px) {
  .container {
    padding: 0px 2%;
  }
}
@media (max-width: 900px) {
  .banner-area {
    height: 368px;
  }
  .banner-area_img {
    height: 100%;
    width: 50%;
  }
  .banner-area_img img {
    max-height: 100%;
    width: auto;
    margin-left: 15%;
  }
  .banner-area_text__title {
    font-size: 44px;
  }
  .banner-area_text .banner-area_text__description {
    font-size: 24px;
  }
  .botton-block-row {
    flex-flow: column;
    justify-content: center;
  }
  .botton-block {
    height: 693px;
  }
  .left-block {
    margin-top: 0;
    margin-bottom: 55px;
    max-width: 360px;
    width: 100%;
  }
  .footer-form {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .product-list-item-flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .advantage-block {
    padding: 48px 0;
  }
  .advantag-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 48px;
  }
  .advantage-block-row {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .banner-area_img {
    display: none;
  }
  .banner-area_container {
    justify-content: center;
  }
  .banner-area_text {
    transform: none;
  }
  .main-menu_item {
    width: 100%;
    margin-bottom: 32px;
  }
  .main-menu-row-all {
    margin-top: 0;
  }
  .main-menu-row-all .main-menu_item img {
    min-width: auto;
    height: 100%;
  }
  .main-menu-row-all .main-menu_item {
    height: 111px;
  }
  .botton-block {
    height: 550px;
  }
  .footer-form {
    margin-right: 0;
    max-width: 340px;
    width: 100%;
  }
  .footer-form-subtitle {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .banner-area_text__title {
    font-size: 38px;
  }
  .banner-area_text .banner-area_text__description {
    font-size: 20px;
  }
  .product-list-item-flex {
    grid-template-columns: 1fr;
  }
  .user {
    display: none;
  }
  .basket {
    order: 1;
  }
  .menu {
    padding-right: 0;
    margin-left: 15px;
    order: 2;
  }
  .header-right {
    padding-top: 0;
  }
  .copyright-flex {
    flex-wrap: wrap;
    flex-flow: column;
  }
  .copyright-text {
    order: 1;
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */